@model IEnumerable<Task2ViewModel>
<table class="table table-striped" id="table-items">
    <thead>
        <tr>
            @{
                string[] headers = { "ID Task", "Task", "Task Status" };
                for (int i = 0; i < headers.Length; i++)
                {
                    <th class="text-center">
                        @headers[i]                        
                    </th>
                }
            }
            <th></th>           
        </tr>
    </thead>
    <tbody>      
        @foreach(var item in Model)
        {           
            <tr>
             
                <td class="text-center col-sm-1">
                    <input name="@item.IdTask" class="form-control" value="@item.IdTask"/>
                </td>
                <td class="text-center col-sm-1">
                    <input name="@item.Task1" class="form-control" value="@item.Task1" />
                </td>
                <td class="text-center col-sm-1">
                    <input name="@item.IdTaskStatus" class="form-control" value="@item.IdTaskStatus" />
                </td>
                
                <td>
                    <button class="btn btn-sm btn-danger deleterow" title="Remove"><i class="fa fa-minus"></i></button>
                </td>               
            </tr>
        }        
       
    </tbody>
</table>

